:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#f9f9f9; 
--gray_50_02:#fcfcfc; 
--gray_50_03:#fafafa; 
--blue_600_26:#2d9cdb26; 
--black_900_90:#03081f90; 
--black_900_87:#00000087; 
--black_900_01:#03081f; 
--teal_500:#00b074; 
--teal_900:#095139; 
--blue_gray_900:#2e2e2e; 
--red_A200_01:#ff6966; 
--lime_300:#dad38d; 
--gray_400:#bcbcbc; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d9d9d9; 
--teal_A400_26:#2ed5a326; 
--blue_gray_500:#5e6c93; 
--orange_600:#fc8a06; 
--lime_300_a5:#ecdf69a5; 
--lime_300_01:#e8eb61; 
--deep_purple_50:#f0edff; 
--black_900_99:#00000099; 
--teal_500_26:#00b07426; 
--black_900_19:#00000019; 
--blue_gray_100_01:#cfcfcf; 
--blue_gray_100_02:#d0d5de; 
--red_300:#ce795f; 
--gray_50:#f8f8f8; 
--light_green_900:#484315; 
--deep_orange_A100_01:#ffb578; 
--blue_gray_100_7f:#d9d9d97f; 
--teal_800:#028643; 
--gray_500_01:#a19b8d; 
--white_A700_35:#ffffff35; 
--gray_500_03:#969ba0; 
--gray_500_02:#b6b0a2; 
--red_A200_26:#ff5b5b26; 
--gray_500_04:#a2a2a2; 
--blue_gray_100_90:#d9d9d990; 
--orange_A100:#f4d381; 
--black_900_a2:#000000a2; 
--amber_600_01:#f8b602; 
--gray_500:#a6a6a6; 
--green_800_dd:#1a9c05dd; 
--black_900_6c:#03081f6c; 
--blue_gray_600:#596775; 
--gray_900:#282828; 
--orange_600_cc:#fc8a06cc; 
--blue_gray_800_01:#3e4954; 
--gray_100:#f5f5f5; 
--gray_900_f4:#232323f4; 
--orange_A100_01:#ffd496; 
--black_900_f7:#03081ff7; 
--deep_orange_A100:#f7a16e; 
--green_900:#049801; 
--yellow_700_cc:#ffc739cc; 
--indigo_A100:#9181f4; 
--black_900_3f:#0000003f; 
--white_A700_ab:#ffffffab; 
--gray_200_01:#eeeeee; 
--white_A700_19:#ffffff19; 
--gray_200_02:#f0f0f0; 
--blue_gray_700:#525252; 
--deep_purple_A400:#5038ed; 
--gray_200_03:#ebebeb; 
--gray_600:#747373; 
--blue_gray_100_75:#d9d9d975; 
--red_A200:#ff5b5b; 
--lime_900:#636e20; 
--orange_400:#fd9825; 
--gray_200:#efefef; 
--lime_A700_d8:#c6e410d8; 
--gray_100_03:#f2f5f3; 
--gray_100_02:#f3f2f7; 
--gray_400_01:#d3cdbf; 
--gray_400_02:#b9babd; 
--gray_100_01:#f6f6f6; 
--green_900_01:#21701f; 
--white_A700:#ffffff; 
--green_900_04:#035e01; 
--blue_gray_700_01:#46525e; 
--teal_900_01:#0a5239; 
--green_900_03:#0c4b12; 
--green_900_02:#187021; 
--green_800:#18952c; 
--black_900_1c:#0000001c; 
--amber_A400:#f7c604; 
--green_A400:#00f076; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--yellow_700:#fdc32c; 
--blue_gray_500_26:#5e6c9326; 
--blue_gray_800:#464154; 
--black_900_28:#00000028; 
--green_A400_01:#00d58c; 
--gray_900_02:#1c1c1c; 
--gray_700:#575757; 
--gray_900_03:#1f1f1f; 
--green_800_01:#19962d; 
--black_900_e5:#03081fe5; 
--green_800_02:#297f21; 
--blue_gray_400:#8e8e8e; 
--black_900_e2:#03081fe2; 
--amber_600:#e6b400; 
--gray_900_01:#202020; 
--blue_600:#2d9cdb; 
--light_green_900_01:#484316; 
--teal_500_01:#00a389; 
--gray_300:#e0e1dc; 
--white_A700_84:#ffffff84; 
--gray_300_01:#e9e3d5; 
--white_A700_00:#ffffff00; 
--black_900_cc:#000000cc; 
--black_900_33:#00000033; 
--black_900_30:#03081f30; 
--indigo_900:#0c1e5b; 
}